<form class="form-horizontal" role="form">
  <legend>Change Your Password!</legend>

  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    {{input type="password"
      classNames="form-control"
      disabled=disabled
      placeholder="Old Password"
      value=fields.oldPassword.value}}
    <small>{{fields.oldPassword.error}}</small>
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    {{input type="password"
      classNames="form-control"
      disabled=disabled
      placeholder="New Password"
      value=fields.newPassword.value}}
    <small>{{fields.newPassword.error}}</small>
  </div>

  <div class="form-group">
    <label for="newPasswordConfirm">Confirm New Password</label>
    {{input type="password"
      classNames="form-control"
      disabled=disabled
      placeholder="Confirm New Password"
      value=fields.confirmPassword.value}}
    <small>{{fields.confirmPassword.error}}</small>
  </div>

  <div class = "form-group">
    <button class="btn btn-warning"
    {{bind-attr disabled="disabled"}}
    {{action submit}}>
      Update Password
    </button>
    {{#if error}}
      <small class="text-danger">{{error}}</small>
    {{/if}}
  </div>
</form>
