<form class="form-horizontal" role="form">
  <legend>Subscribe!</legend>
  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="ccnumber">Credit Card Number {{cardType}}</label>
          {{input type="text"
            classNames="form-control"
            placeholder="--no dashes--"
            disabled=disabled
            autocomplete=true
            value=fields.number.value}}
          <small>{{fields.number.error}}</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="month">Month</label>
          {{input type="text"
            classNames="form-control"
            placeholder="MM"
            disabled=disabled
            maxlength=2
            value=fields.exp_month.value}}
          <small>{{fields.exp_month.error}}</small>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="year">Year</label>
          {{input type="text"
            classNames="form-control"
            placeholder="YYYY"
            disabled=disabled
            maxlength=4
            value=fields.exp_year.value}}
          <small>{{fields.exp_year.error}}</small>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="cvc">CVC</label>
          {{input type="text"
            classNames="form-control"
            placeholder="XXX"
            disabled=disabled
            maxlength=3
            value=fields.cvc.value}}
          <small>{{fields.cvc.error}}</small>
        </div>
      </div>

    </div>
  </fieldset>

  <div class = "form-group">
    <button class="btn btn-success"
    {{bind-attr disabled="disabled"}}
    {{action submit}}>
      Subscribe!
    </button>

    {{#if error}}
      <small class="text-danger">{{error}}</small>
    {{/if}}
  </div>
</form>
