<form class="form-horizontal" role="form">
  <legend>Login</legend>
  <div class="form-group">
    <label for="email">Email</label>
    {{input type="text"
      disabled=disabled
      class="form-control" 
      placeholder="Your Email" 
      value = fields.email.value}}
    <small>{{fields.email.error}}</small>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    {{input type="password"
      disabled=disabled
      class="form-control" 
      placeholder="Your Password" 
      value= fields.password.value}}
    <small>{{fields.password.error}}</small>
  </div>

  <div class="form-group">
    <button class="btn btn-success" 
    {{bind-attr disabled="disabled"}}
    {{action submit}}>
      Login
    </button>
    <small class="text-danger">{{error}}</small>
  </div>
</form>
