<form class="form-horizontal" role="form">
  {{#if showForm}}

    <div class="form-group">
      <button class="btn btn-xs btn-warning" {{action toggleForm}}>
        Cancel
      </button>
    </div>

    <legend>Reset Password</legend>
    <div class="form-group">
      <label for="email">Email</label>
      {{input type="text"
        disabled=disabled
        class="form-control" 
        placeholder="Your Email" 
        value = hash.email}}
    </div>
    <div class="form-group">
      <button class="btn btn-success" 
      {{bind-attr disabled="disabled"}}
      {{action submit hash}}>
        Email Password 
      </button>
      <small class="text-danger">{{error}}</small>
    </div>

  {{else}}

    <div class="form-group">
      <label for="forgotpw">Forgot Password?</label>
      <button class="btn btn-xs btn-success" {{action toggleForm}}>
        Totally...
      </button>
    </div>

  {{/if}}
</form>
