<form class="form-horizontal" role="form">
  <legend>Change Your Email!</legend>
  <div class="form-group">
    <label for="oldEmail">Old Email</label>
    <input class="form-control" disabled {{bind-attr value="user.email"}}></input>
  </div>

  <div class="form-group">
    <label for="newEmail">New Email</label>
    {{input type="email"
      classNames="form-control"
      disabled=disabled
      placeholder="New Email"
      value=hash.email}}
  </div>

  <div class="form-group">
    <label for="newEmailConfirm">Confirm New Email</label>
    {{input type="email"
      classNames="form-control"
      disabled=disabled
      placeholder="Confirm New Email"
      value=hash.confirmEmail}}
  </div>


  <div class="form-group">
    <button class="btn btn-warning" 
    {{bind-attr disabled="disabled"}}
    {{action submit hash}}>
      Update Email
    </button>
    {{#if error}}
      <small class="text-danger">{{error}}</small>
    {{/if}}
  </div>
</form>
