<section class="container page-section">
  <div class="row">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">

        {{#unless activeUser}}
        <form class="form-horizontal" role="form">
          <legend>Login</legend>
          <div class="form-group">
            <label for="username">Username</label>
            {{input type="text"
              class="form-control" 
              placeholder="Your Username" 
              value = loginHash.username.value}}
            {{#if loginHash.username.error}}
            <small class="text-danger">{{loginHash.username.error}}</small>
            {{/if}}
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            {{input type="password"
              class="form-control" 
              placeholder="Password" 
              value= loginHash.password.value}}
            {{#if loginHash.password.error}}
            <small class="text-danger">{{loginHash.password.error}}</small>
            {{/if}}  
              
          </div>

          <div class="form-group">
            <button class="btn btn-success" {{action attemptLogin loginHash}}>Login!</button>
          </div>
        </form> 
      {{else}}
        <h2> Already logged in as: {{activeUser.username}} </h2>
      {{/unless}}
      </div>
    </div>
  </div>
</section>
