<div class="row">
  <ol class="breadcrumb">
    <li {{action "gotoVideos"}}>Videos</li>
  </ol>
</div>
<div class="row">
  <div class="media">
    <div class="media-header">
      <h3>{{title}}</h3>
      <h4>{{description}}</h4>
      <h5>Published on: {{publication_date}}</h5>
    </div> 
    <video 
      classNames="media-object"
      height="480"
      width="640"
      controls=true
      {{bind-attr src="mp4_url"}}>
    </video> 
    <div class="media-footer">
      <h4>{{keywords}}</h4> 
    </div>
  </div>
</div>
