<form class="form-horizontal" role="form">
  <legend>Change Your Password!</legend>

  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    {{input type="password"
      classNames="form-control"
      placeholder="Old Password"
      value=newPasswordHash.oldPassword.value}}
    {{#if newPasswordHash.oldPassword.error}}
      <small class="text-danger">{{newPasswordHash.oldPassword.error}}</small>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    {{input type="password"
      classNames="form-control"
      placeholder="New Password"
      value=newPasswordHash.password.value}}
    {{#if newPasswordHash.password.error}}
      <small class="text-danger">{{newPasswordHash.password.error}}</small>
    {{/if}}
  </div>

  <div class="form-group">
    <label for="newPasswordConfirm">Confirm New Password</label>
    {{input type="password"
      classNames="form-control"
      placeholder="Confirm New Password"
      value=newPasswordHash.confirmPassword.value}}
    {{#if newPasswordHash.confirmPassword.error}}
      <small class="text-danger">{{newPasswordHash.confirmPassword.error}}</small>
    {{/if}}
  </div>

  <button class="btn btn-warning" {{action changePassword content newPasswordHash}}>
    Update Password
  </button>
</form>
