<form id="subscribe-form" class="form-horizontal" role="form">
  <legend>Subscribe!</legend>

  <fieldset>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstName">First Name</label>
          {{input type="text"
            classNames="form-control"
            placeholder="As appears on card"
            value=newSubscriptionHash.firstName}}
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          {{input type="text"
            classNames="form-control"
            placeholder="As appears on card"
            value=newSubscriptionHash.lastName}}
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <label for="ccnumber">Credit Card Number</label>
      {{input type="text"
        classNames="form-control"
        placeholder="--no dashes--"
        autocomplete=false
        value=newSubscriptionHash.number}}
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label for="month">Month</label>
          {{input type="text"
            classNames="form-control"
            placeholder="XX"
            maxlength=2
            value=newSubscriptionHash.expirationMonth}}
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="year">Year</label>
          {{input type="text"
            classNames="form-control"
            placeholder="XXXX"
            maxlength=4
            value=newSubscriptionHash.expirationYear}}
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="ccv">CCV</label>
          {{input type="text"
            classNames="form-control"
            placeholder="XXX"
            maxlength=3
            value=newSubscriptionHash.ccv}}
        </div>
      </div>

    </div>
  </fieldset>

  <div class = "form-group">
    <button class="btn btn-success" {{action subscribe content newSubscriptionHash}}>
      Subscribe!
    </button>

    {{#if error}}
      <small class="text-danger">{{error}}</small>
    {{/if}}
  </div>
</form>
