<!doctype html>

<html>

  <head>
    <link rel="stylesheet" href="/vendor/reset-css/reset.css">
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  </head>

  <body>
    <div style = "top: 20px;left:20px;position:absolute;width:100%;">
      <div class = "row" >

        <div class = "col-md-4">
          <h1>customer.io users
            <button type = "button" class = "btn btn-primary" onclick="cioDeleteAll()">DELETE ALL</button>
          </h1>
          {{#list cioUsers}}
            <button type = "button" style = "float:left;margin-top:10px;" class = "btn btn-xs btn-primary" id={{id}}
            onclick="cioDeleteUser()">
              X
            </button>
            <div style = "display:inline"> Name: {{name}} <br> id: {{id}} </div>
          {{/list}}
        </div>


        <div class = "col-md-4">
          <h1>mongoDB users
            <button type = "button" class = "btn btn-primary">DELETE ALL</button>
          </h1>
          
          {{#list mongoUsers}}    
            <button type = "button" style = "float:left;margin-top:10px;" class = "btn btn-xs btn-primary" id={{id}}>
              X
            </button> 
          <div style = "display:inline">  Name: {{name}} <br> id: {{id}} </div>
          {{/list}}
        </div>
    
        <div class = "col-md-4">
           <h1>braintree users
            <button type = "button" class = "btn btn-primary">DELETE ALL</button>
           </h1>
           {{#list btIds}} 
            <button type = "button" class = "btn btn-xs btn-primary" id={{id}}>
              X
            </button> 
            
            id: {{id}} 
           {{/list}}
        </div>
        
      </div> 
    </div>
    
  <script type="text/javascript" src="/vendor/jquery/jquery.js"></script>
  <script type = "text/javascript">
    function cioDeleteAll(){
      $.ajax({
        url: "http://localhost:3000/admin/deleteAllCio", 
        type: "DELETE",
        success: function(res){
          console.log("CIO DELETED");
          
          //for some reason it doesn't work every time
          setTimeout(
          location.reload(), 500);
        },
        error: function(err){
          console.log(err);
          location.reload();
        }
      })
    };
  </script>
  </body>

</html>